@font-face {
  src: url(fonts/Hind-Light.ttf);
  font-family: Hind;
}

@font-face {
  src: url(fonts/Montserrat-Light.ttf);
  font-family: Mont;
}

@keyframes fadeIn{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}

@keyframes fadeOut{
  0%{
      opacity: 1;
  }
  100%{
      opacity: 0;
  }
}


@keyframes spin{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}



@keyframes example {
  from {transform: scale(1.1);}
  to {transform: scale(1);}
}


@keyframes change {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 50% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}






body {
  background-color: #001017;
}


/* PAGE LOADER */

.page-loader{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999;
  background-color: var(--white-alpha-25);
  backdrop-filter: var(--backdrop-filter-blur);
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-loader.fade-out{
  opacity: 0;
}

.page-loader div{
  border: 1px solid transparent;
  position: absolute;
  border-radius: 50%;
  opacity: .8;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  animation: spin 0.1s linear infinite;
}

.page-loader div{
  height: 45px;
  width: 45px;
  border-color: var(--white);
  animation-duration: 0.8s;
}





/* HOMEPAGE */

#mainImage {
  position: absolute; 
  top: 0%; 
  left: 0%; 
  width: 100%;
  overflow: hidden;
}

#zhu1 {
  overflow: hidden;
  width: 100%;
  animation: example 3s ease;
}

#mainImageMobile {
  position: absolute; 
  top: 0%; 
  left: 0%; 
  width: 100%;
  overflow: hidden;
}

#zhu12 {
  overflow: hidden;
  width: 100%;
  animation: example 4s ease;
}

#name {
  width: 14%; 
  border:0px; 
  border-bottom: 1px solid #BDBDBD; 
  position: absolute; 
  top: 0%;
  margin-top: 29.5%;
  left: 18%;
  background: transparent;
  border-radius: 0px;
  color: #A3CFCD;
  padding-left: 0px;
  padding-right: 0px;
}

#name:focus {
  border-radius: 5px;
  border-bottom: 0px;
}


#email {
  width: 14%; 
  border:0px; 
  border-bottom: 1px solid #BDBDBD; 
  position: absolute; 
  top: 0%;
  margin-top: 29.5%;
  left: 37%;
  background: transparent;
  border-radius: 0px;
  color: #A3CFCD;
  padding-left: 0px;
  padding-right: 0px;
  ;

}

#country {
  width: 14%; 
  border:0px; 
  border-bottom: 1px solid #BDBDBD; 
  position: absolute; 
  top: 0%;
  margin-top: 29.5%;
  left: 55.5%;
  background: transparent;
  border-radius: 0px;
  color: #A3CFCD;
  padding-left: 0px;
  padding-right: 0px;
  ;

}

#email:focus {
  border-radius: 5px;
  border-bottom: 0px;
}
#country:focus {
  border-radius: 5px;
  border-bottom: 0px;
}


#sub {
  font-size: 1.3vw;
  position: absolute; 
  top: 0%;
  margin-top: 29.5%;
  left: 73%;
  background: transparent;
  border-radius: 0px;
  color: #76858D;
  font-family: Hind;
  text-decoration: none;
  z-index: 3000;
  padding: 6px;
  box-sizing: border-box;
  border-radius: 5px;

}

#sub:hover {
  color: #008956;
}

#name::placeholder {
  color: #A3CFCD;
  font-size: 1.2vw;
}

#email::placeholder {
  color: #A3CFCD;
  font-size: 1.2vw;
}
#country::placeholder {
  color: #A3CFCD;
  font-size: 1.2vw;
}

.logosHome {
  position: absolute;
  top: 0%;
  margin-top: 50.5%;
  z-index: 5000;
}

.logosHome1 {
  right: 55%;
}

.logosHome2 {
  right: 51%;
}

.logosHome3 {
  right: 47%;
}

.logosHome4 {
  right: 43%;
}


#stream {
  background: grey;
  height: 20vw; 
  width: 100%; 
  opacity: 20%; 
  position: absolute; 
  top: 0%;
  margin-top: 37%;
  z-index: 3000;
}


#stream2 {
  position: absolute;
  top:0%;
  left: 35%;
  margin-top:40%;
  font-family: Mont;
  font-size: 2.5vw;
  color: #DCEFEB;
  font-weight: 700;
  z-index: 5000;
}

#stream3 {
  position: absolute;
  top:0%;
  left: 37%;
  margin-top:45%;
  font-family: Hind;
  font-size: 1.1vw;
  color: #DCEFEB;
  z-index: 5000;
}




/*  NAVBAR  */

.main>.navbar {
  height: 90px;
  border-bottom: 0.5px solid #B5BCBB;
  z-index: 5000;
}

.main>.navbar>div>a>img {
  width: 9vw;
}

.main>.navbar>div>.d-none {
  margin-bottom: 0.5%;
}

.main>.navbar>div>.buttt:focus {
  outline: 0px;
}

.main>.navbar>div>.d-none:focus {
  outline: 0px;

}

#butt2 {
  z-index: 10000;
}

#nav1 {
  float: left;
}

#nav1>div>a {
  color: #DCEFEB;
  padding-left: 1.3vw;
  padding-right: 1.3vw;
  font-family: Hind;
  font-size: 1.2vw;
  border: none;
}

#nav1>div>a:hover {
  text-decoration: none;
  color: #008956;
  margin-top: -1px;
  margin-bottom: -1px;
  border-bottom: 0.5px solid #B5BCBB;
  border-top: 0.5px solid #B5BCBB;
  cursor: pointer;
}

.leftside1 {
  position: fixed;
  right: 8%;
  background-color: transparent; 
  border: 0; 
  cursor: pointer;
  z-index: 2000;
  padding-bottom: 20px;
  border-radius: 50%;
} 

.leftside1:focus {
  outline:0px;
}

.leftside1>sup {
  font-size: 11px;
  font-weight: 100;
}

.leftside1>img {
  width: 2.2vw;
  padding: 0;
  margin-top: 30%;
}



/* CART  */

 .toggleMenu {
  position: absolute;
  top: 0%;
  margin-top: 6.5%;
  right: 3%;
  padding: 30px 30px;
  background: #fff;
  width: 350px;
  box-sizing: 0 5px 25px rgba(0,0,0,0.1);
  border-radius: 15px;
  transition: .5s;  
  visibility: hidden;
  opacity: 0;
  z-index: 5000;
  height: 500px;
  overflow-x: hidden;
  border: 2px solid grey;
}

.toggleMenu::-webkit-scrollbar{
  width: 5px;
}


.toggleMenu::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #001017a4;
}


 .toggleMenu.active{
  position: fixed;
  margin-top: 7.2%;
  visibility: visible;
  opacity: 1;
  z-index: 10000;
}

.toggleMenu>h5 {
  float: left;
}

.toggleMenu>h6 {
  float: right;
  cursor: pointer;

}

.toggleMenu>hr {
  margin-top: 10%;
  width: 100%;
  padding: 0;
  border: 1px solid #001017;
}


.toggleMenu>.shopping{
  margin-bottom:10%;
}


.toggleMenu>.shopping>img {
  width: 50%;
  float: left;
}

.toggleMenu>.shopping>div {
  padding-left: 55%;
  padding-right: 5%;
}

.toggleMenu>.shopping>div>p {
  text-align: left;
}

.toggleMenu>.shopping>div>.itemName {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-bottom: 15%;
  padding-top: 5%;
}

.toggleMenu>.shopping>div>.itemInfo {
  font-size: 14px;
  line-height: 6px;
}

.toggleMenu>.shopping>div>.itemPrice {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.toggleMenu>.shopping>div>button {
  width: 20%;
  padding: 0.5px 0;
  border-radius: 0px;
}

.toggleMenu>.shopping>div>.removeButton {
  width: 60%;
  font-size: 1vw;
  padding: 2.2px 0;
  border-radius: 0px;
}

input {
  z-index: 3000;
}

button {
  z-index: 3000;
}

Link {
  z-index: 5000;
}

#buyItems {
  background-color: green;
  color: white;
} 
 



/* STREAM.JS */

.notice {
  font-family: Mont;
  text-align: center;
  font-size: 2.2vw;
  color: #DCEFEB;
  font-weight: 600;
  opacity: 1;
  transition: all 1s ease-in-out;
  margin-bottom: 7%;
  margin-top: 85%;
}


#poster{
  opacity: 1;
  transition: 1s;
  position: relative;
}




#poster #p1 {
  text-align: center;
  position: absolute;
  top: 5%;
  left: 14%;
  font-size: 3vw;
  text-orientation:upright;
  letter-spacing: 0.6em;
  font-weight: 600;
  padding-bottom:40%;
  padding-right: 10%;
}

#poster #p1:hover {
  color: red;
}



#poster #p2 {
  text-align: center;
  position: absolute;
  bottom: 5%;
  right: 11%;
  font-size: 3vw;
  color: #008956;
  text-orientation:upright;
  letter-spacing: 0.6em;
  font-weight: 600;
  padding-top: 40%;
  padding-left: 10%;
}

#poster #p2:hover {
  color: yellow;
}


#poster>img {
  margin-left: 10%; 
  width: 80%;
}




/* SHOWDATES.JS */

#shows {
  position: relative;
  height: 45vw; 
  background-color: #1D2B32;
  margin-top: 10%;
  margin-bottom: 10%;
}

#shows>p {
  color: #DCEFEB;
  font-family: Mont;
  font-weight: 600;
  margin-left: 5%;
  padding-top: 7%;
  font-size: 2vw;
}

#shows>img {
  width: 23%; 
  margin-left: 15%; 
  padding-top: 5%;
}

#shows>#showsInfo {
  font-size: 1.8vw;
  float: right;
  margin-top: 5%;
  color: #008956;
  margin-right: 29.5%;
  font-family: Hind;
  line-height: 3vw;

}

hr {
  border: 0.5px solid #B5BCBB;
  width: 90%;
  opacity: 0.3;
}

#shows>#tickets {
  text-decoration: none;
  font-size: 1.1vw;
  position: absolute;
  background-color: #001017;
  border: 0px;
  top: 75%;
  left: 51%;
  padding: 0.4vw 2.5vw 0.4vw 2.5vw;
  border-radius: 8px;
  color:#DCEFEB;
}

#shows>#tickets:hover {
  background-color: rgb(7, 7, 44);
  cursor: pointer;
}


#shows>#rsvp {
  text-decoration: none;
  font-size: 1.1vw;
  position: absolute;
  background-color: #001017;
  border: 0px;
  top: 75%;
  left: 61%;
  padding: 0.4vw 2.9vw 0.4vw 2.9vw;
  border-radius: 8px;
  color:#DCEFEB;
}

#shows>#rsvp:hover {
  background-color: rgb(7, 7, 44);
  cursor: pointer;
}


/* MERCH */

#merch {
  color: #DCEFEB;
  font-family: Mont;
  font-weight: 600;
  margin-left: 5%;
  padding-top: 7%;
  font-size: 2vw;
}

div>.row>.col-6 {
  margin-top: 4%;
  transition: 0.5s ease-in-out;
  opacity: 0;
}

div>.row>.active {
  margin-top: 7%;
  opacity: 1;
}

div>.row>.col-md-4>p {
  font-family: Hind;
  color: #DCEFEB;
  text-align: center;
  margin-top: 10%;
  font-size: 1.2vw;
  width: 85%;
}

div>.row>.col-md-4>a>div {
  font-family: Hind;
  position: absolute; 
  width: 50%;
  top:20%; 
  left: 20%;
  text-align: center;
  color: #d4dddc;
  font-size: 1.2vw;
  transition: 0.2s ease-in-out;
  opacity: 0;
}

div>.row>.col-md-4:hover {
  transform: translateY(-20px);
}


div>.row>.col-md-4>a:hover div {
  opacity: 1;
  font-weight: 500;
  cursor: default;
  opacity: 1;
  transition: opacity .2s .2s;
}

div>.row>.col-md-4>a:hover img {
  opacity: 0.1;
  cursor: default;
  filter: blur(.2rem);
}

#buy {
    border: 0px;
    position: absolute; 
    top:55%; 
    left: 27.5%;
    font-size: 1vw;
    background: #76858D;
    border-radius: 10px;
    color: white;
    font-family: Hind;
    text-decoration: none;
    padding: 0.5vw 2vw 0.5vw 2vw; 
    font-weight: 500;
    opacity: 0;
}

#buy:hover {
  background-color: #008956;
}

#buy:focus {
  outline: 0px;
}


div>.row>.col-md-4>a:hover #buy {
  opacity: 1;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}




/* ABOUT  */

#about {
  height: 55vw;
  background-color: #526670;
  margin-top: 15%;
  padding-top: 0.1%;
}

#about > img {
  margin-top: 3%;
  margin-left: 5%;
  width: 90%;
}



/* FOOTER */

.panel-footer {
  margin-top: 0%;
  background-color: transparent;
  padding:0px;
}

.panel-footer>.container {
  padding-top: 4%;
  padding-bottom: 3%;
}

#footerImg>a>img {
  margin-top: 10%;
}

#footerMenu>.row {
  margin-top: 30px;
}

#footerMenu>.row>section>span {
  color: #DCEFEB;
  font-family: Mont;
  line-height: 2.8vw;
  font-weight: 600;
  font-size: 1.4vw;
}

#footerMenu>.row>section>ul{
  padding: 0;
}

#footerMenu>.row>section>ul>li {
  list-style: none;
}

#footerMenu>.row>section a {
  color: #DCEFEB;
  font-family: Hind;
  font-size: 1.2vw;
  line-height: 2vw;
  text-decoration: none;
}

#footerMenu>.row>section a:hover {
  color: #008956;
}

#gotham {
  margin-left: 12%;
  color: #DCEFEB;
  font-family: Mont;
  opacity: 70%;
  font-size: 14px;
}



/* MUSIC */

section.musicLists{
  padding-top: 10%;
}

.row>.trackList>div, .row>.albumList>div {
  margin-top: 1%; 
  margin-bottom: 5%; 
  text-align: center; 
  font-family: Mont; 
  color: #DCEFEB; 
  font-size: 2vw; 
  font-weight: 500;
}

.row>.trackList>a>div {
  margin-top: 3%; 
  text-align: center; 
  font-family: Mont; 
  color: #008956; 
  font-size: 1vw; 
  line-height: 3vw; 
  letter-spacing: 0.15em; 
  font-weight: 100;
}

.row>.albumList>a>div{
  margin-top: 3%; text-align: center; 
  font-family: Mont; 
  color: #008956; 
  font-size: 1.5vw; 
  line-height: 1vw; 
  letter-spacing: 0.08em; 
  font-weight: 100;
}


/* GALLERY */

.otherHeader {
  margin-top: 15%;
  color: #DCEFEB;
  text-align: center;
  font-family: Mont;
  font-size: 24px;
  font-weight: 500;
}


.galleryOHeader {
  color: #DCEFEB; 
  font-family: Mont; 
  font-size: 1vw; 
  margin-left: 2%;
  text-decoration: none;
}

.gallerySHeader{
  font-family: Mont; 
  font-size: 1vw;
  margin-left: 80%; 
  color: #008956;
  text-decoration: none;
}

.gallerySHeader:hover, .galleryOHeader:hover {
  text-decoration: none;
}


.galleryCarousel .carousel-item img{
  max-width: 235px;
  transform: translateX(8px) translateY(-100px);
  cursor: pointer;
}


#rec {
  width: 100%; 
  padding: 5%;

}

#rec2 {
  width: 100%; 
  padding: 5%;

}

#rec3 {
  width: 100%;
  padding: 5%;
}

#rec11 {
  width: 100%; 
  padding: 5%;

}

#rec22 {
  width: 100%; 
  padding: 5%;

}

#rec33 {
  width: 100%;
  padding: 5%;
}

#rec4 {
  width: 20%; 
  margin-left: 10%; 
  margin-right: 5%;
}

#rec5 {
  width: 30%; 
  margin-right: 5%;
}

#rec6 {
  width: 20%;
}

#recMobile1, #recMobile2, #recMobile3 {
  display: none;
}




/* MUSIC-MOBILE.JS */
.musicAlbum>p {
  display: none;
  color:  #008956; 
  font-family: Hind; 
  margin-left: 38%;
  margin-top: 8%;
  margin-bottom: 10%;
}


.musicSingle>p {
  display: none;
  color: #DCEFEB; 
  font-family: Hind; 
  margin-left: 8%;
  margin-top: 8%;
  margin-bottom: 10%;
}

#musicSlider{
  position: relative;
}

#musicSlider>a>.musicArrowPrev {
  position: absolute;
  width: 21%;
  left: 100%;
  top: 33%;
}

#musicSlider>a>.musicArrowNext {
  position: absolute;
  width: 21%;
  right: 100%;
  top: 33%;
}


#musicSlider .musicLines1, 
#musicSlider .musicLines2, 
#musicSlider .musicLines3,
#musicSlider .musicLines4 {
  position: absolute; 
  width: 0.24%;
}

#musicSlider .musicLines1 {
  left: 17%; 
  top: 1%; 
}

#musicSlider .musicLines2 {
  right: 17%; 
  top: 1%; 
}


#musicSlider .musicLines3 {
  left: 17%; 
  top: 0.1%; 
  margin-top: 31.8%; 
}

#musicSlider .musicLines4 {
  right: 17%; 
  top: 0.1%;
  margin-top: 31.8%;  
}


#musicSurface>#musicP1 {
  margin-top: 5%; 
  text-align: center; 
  color: #DCEFEB; 
  font-weight: 300; 
  font-size: 3.4vw;
}

#musicSurface>.musicImg1 {
  width: 60%;
  margin-left: 20%;
}

#musicSurface>.musicImg2 {
  position: absolute; 
  width: 10%; 
  top: 0.1%; 
  left: 45%; 
  margin-top: 25%;
}


#musicSurface>#musicP2 {
  margin-top: 5%; 
  margin-left: 40%; 
  color: #008956; 
  font-weight: 300; 
  font-size: 3.4vw;
}

.musicTracklistHead {
  margin-top: 10%; 
  text-align: center; 
  font-family: Mont; 
  color: #DCEFEB; 
  font-size: 4.5vw; 
  font-weight: 500;
}

.musicTracklist {
  margin-top: 10%; 
  text-align: center; 
  font-family: Mont; 
  color: #DCEFEB; 
  font-size: 3vw; 
  line-height: 7vw; 
  letter-spacing: 0.08em; 
  font-weight: 100;
}



#vid {
  color: #DCEFEB;
  font-family: Mont;
  font-size: 2vw;
  text-align: center;
  font-weight: 500;
}

#you {
  position: relative;
}



#you>.youtube1 {
  margin-left: 5%;
  width: 90%;
}

#you>a>.y1 {
  position: absolute;
  top: 42%;
  left: 46%;
  width: 8%;
}









@media (max-width:767px) {
  .main {
    height: 20vw;
  }

  .main>.navbar>div>a>img {
    width: 17vw;
  }

  .main>.navbar {
    height: auto;
    padding-top: 30px;
    padding-bottom: 30px; 
    border-bottom: 0px;

  }

  .leftside1 {
    position: absolute;
    right: 38%;
    top: 25%;
    padding: 6px 6px 6px 6px;
  } 

  .leftside1>sup {
    font-size: 10px;
  }


  
  .leftside1>img {
    width: 28px;
  }


  
  
  
   .toggleMenu {
    top: 0%;
    margin-top: 40%;
    right: 0%;
    width: 100%;
    border-radius: 0px;
    height: calc(100vh);
  }

  .toggleMenu.active {
    position: absolute;
    margin-top: 0%;
  }

  .toggleMenu>.shopping>div>.removeButton {
    width: 60%;
    font-size: 3vw;
    padding: 2.2px 0;
    border-radius: 0px;
  }


  #nav1>div>.nav-link {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: #DCEFEB;
    font-size: 4vw;
    font-family: Mont;
    z-index: 10000;
    margin-top: 10px;
  }

  #nav1>div>.nav-link:nth-child(1){
    margin-top: 140px;
  }

  #nav1>div>a {
    margin-top: 10px;
  }
  
  #nav1>div>a:hover {
    color: #6bddb3;
    margin-top: 10px;
    margin-bottom: 0;
    border: none;
  }





  .navbar-nav {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 0px;
    height: calc(100vh);
    z-index: 5000;
    background: linear-gradient(-45deg, #001017, #00141d, #01070a, #00131b );
    background-size: 400% 400%;
    animation: change 5s ease-in-out infinite;
    transition: all 0.3s ease-in-out;
    visibility: hidden;
  }



  .spotifyLogo, .musicLogo, .deezerLogo, .soundLogo {
    position: absolute;
    top: 83%;
    margin-top: 0%;
  }

  .spotifyLogo>img, .musicLogo>img, .deezerLogo>img, .soundLogo>img {
    width: 7vw;
  }

  .musicLogo{
    right: 62%;
  }
  
  .spotifyLogo{
    right: 50%;
  }
  
  
  .deezerLogo{
    right: 38%;
  }
  
  .soundLogo{
    right: 26%;
  }
  

 
 

  #hell {
    display: block;
  }


  .hell1 {
    color: #DCEFEB;
  }






  #name {
    width: 65%; 
    border: 0.1px solid #d4dddc; 
    position: absolute; 
    top: 0%;
    margin-top: 95%;
    left: 17.5%;
    background: transparent;
    border-radius: 5px;
    color: #A3CFCD;
    padding-left: 5%;
    padding-right: 0px;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  #name:focus {
    border: 0px;
  }
  
  #email {
    width: 65%; 
    border: 1px solid #d4dddc;
    margin-top: 106%;
    left: 17.5%;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 0px;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  
  #country {
    width: 65%; 
    border: 1px solid #d4dddc; 
    margin-top: 119%;
    left: 17.5%;
    border-radius: 5px;
    padding-left: 5%;
    padding-right: 0px;
    padding-bottom: 1%;
    padding-top: 1%;
  }
  #email:focus {
    border: 0px;
  }
  #country:focus {
    border: 0px;
  }

  #sub {
    border: 0px;
    font-size: 3vw;
    margin-top: 133%;
    left: 35.5%;
    background: #76858D;
    border-radius: 10px;
    color: white;
    padding: 2vw 6vw 2vw 6vw; 
    font-weight: 500;
  }
  
  #sub:hover {
    color: black;
    background-color: #008956;
  }

  #sub:focus {
    background-color: #093b29;
    outline: 0px;
  }
  
  #name::placeholder {
    color: #d4dddc;
    font-size: 2.5vw;
    font-family: Hind;
    text-transform:uppercase;
  }
  
  #email::placeholder {
    color: #d4dddc;
    font-size: 2.5vw;
    font-family: Hind;
    text-transform:uppercase;
  }
  #country::placeholder {
    color: #d4dddc;
    font-size: 2.5vw;
    font-family: Hind;
    text-transform:uppercase;
  }

  .notice {
    font-family: Mont;
    text-align: center;
    font-size: 5vw;
    color: #DCEFEB;
    font-weight: 600;
    opacity: 1;
    margin-top: 220%;
  }

  

  #subs1 {
    position: absolute; 
    top: 0%;
    margin-top: 77%;
    left: 27%;
    color: white;
    font-family: Mont;
    text-align: center;
    font-size: 4.2vw;
    font-weight: 600;
    z-index: 3000;
  }

  div>.row {
    margin-left: 2%;
  }

  div>.row>.col-md-4>p {
    font-size: 2vw;
  }

  div>.row>.col-md-4>a>div {
    font-size: 2vw;
  }

  #buy {
    border: 0px;
    position: absolute; 
    font-size: 2.2vw;
    background: #76858D;
    border-radius: 10px;
    color: white;
    font-family: Hind;
    text-decoration: none;
    padding: 0.5vw 3vw 0.5vw 3vw; 
    font-weight: 500;
    opacity: 0%;
  }

  #shows {
    height: 143vw; 
    background-color: #1D2B32;
  }

  #shows>p {
    font-size: 4vw;
    margin-left: 32.5%;
    margin-top: 30%;
  }

  #shows>img {
    width: 100%; 
    padding-top: 5%;
    margin-left: 0px;
  }

  #shows>#showsInfo {

    text-align: center;
    font-size: 4vw;
    margin-top: 0%;
    margin-left: 30%;
    line-height: 5vw;
    margin-top: 8%;

  }

  #shows>#tickets {
    font-size: 3.5vw;
    border: 0px;
    top: 84%;
    left: 0%;
    margin-left: 38%;
    padding: 1vw 6vw 1vw 6vw;
    border-radius: 5px;
  }

  #shows>#rsvp {
    font-size: 3.5vw;
    top: 90.5%;
    left: 0%;
    margin-left: 38%;
    padding: 1vw 8vw 1vw 8vw;
    border-radius: 5px;
  }


  .shop {
    height: 130vw; 
    background-color: #1D2B32;
  }

  .shop>p {
    font-size: 4vw;
    text-align: center;
  }

  .shop>img {
    width: 60%; 
    margin-left: 20%;
  }

  .shop>.sh2 {
    font-size: 3.5vw;
    margin-top: 7%;
    margin-right: 30%;
    font-family: Hind;
    line-height: 5vw;
    color: #DCEFEB;
    margin-left: 30%;
    font-weight: 300;
  }

  #but1 {
    position: absolute;
    top: 70%;
    left: 34%;
    background-color: #b5bcbb6b;
    padding: 0.6vw 7.2vw;
    border: 0;
    border-radius: 5px;
    color: #DCEFEB;
    cursor: pointer;
    font-size: 3.3vw;/* F.S */
  }

  #but1:hover {
    background-color: #b5bcbb4f;
  }

  #but1:focus {
    background-color: #034091ee;
  }



  #merch {
    font-size: 3vw;
    text-align:center;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 15%;
    font-size: 4vw;
  }

  #footerImg>a>img {
    width: 30vw;
    margin-left: 28%;
    margin-bottom: 20%;
  }

  #footerMenu>.row>section {
    text-align: center;
  }

  #footerMenu>.row>section>span {
    color: #DCEFEB;
    font-family: Mont;
    line-height: 5vw;
    font-weight: 600;
    font-size: 5vw;
    margin-right: 9%;
  }

  #footerMenu>.row>section>ul{
    padding: 0;
    margin-top: 4%;
    margin-bottom: 8%;
  }

  #footerMenu>.row>section>ul>li {
    list-style: none;
  }



  #footerMenu>.row>section a {
    font-size: 3vw;
    line-height: 5vw;
    margin-right: 10%;
  }

  #gotham {
    margin-left: 0%;
    padding-left: 24%;
    opacity: 90%;
    font-size: 10px;
    background-color: black;
  }



  #poster #p1 {
    margin-left: 32%;
    font-size: 7vw;
    padding-left: 0;
    padding-bottom: 0;
    left: 0;
    letter-spacing: 0.4em;

  }

  #poster #p1:focus {
    color: red;
  }


  #poster #p2 {
    text-align: center;
    position: absolute;
    bottom: 1%;
    font-size: 8vw;
    color: #008956;
    right: 15%;

  }

  #poster #p2:focus {
    color: yellow;
  }

  #poster #p2:focus {
    color: rgb(6, 6, 26);
  }

  #poster>img {
    margin: 0%; 
    width: 100%;

  }

  #about {
    height: 0;
  }


  #aboutMobileHeader {
    color: #DCEFEB;
    font-family: Mont;
    font-size: 4vw;
    font-weight: 500;
    margin-left: 5%;
    margin-top: 20%;
  }

  #aboutMobile {
    position: relative;
    height: 49vw;
    background-color: transparent;
    margin-bottom: 10%;
    margin-top: 3%;
  }

  #aboutMobile>img {
    width: 100%;
    margin-top: 3%;
    margin-left: 0%;
  }

  #aboutMobile>.aboutPart1 {
    position: absolute;
    font-size: 3.2vw;
    top: 0%;
    margin-top: 5%;
    margin-left: 1%;
    font-family: Hind;
    color: #222a2e;
    font-weight: 500;  
  }

  #aboutMobile>.aboutPart1>div, #aboutMobile>.aboutPart2>div {
    color: rgb(204, 42, 42);
    display: inline;
    font-weight: 500;
  }


  #aboutMobile>.aboutPart2 {
    position: absolute;
    font-size: 3vw;
    top: 0%;
    font-family: Hind;
    margin-top: 15%;
    text-align: right;
    color: #222a2e;
    font-weight: 500;
    right: 1%;

  }


  .galleryOHeader {
    font-family: Hind; 
    font-size: 4.5vw; 
    margin-left: 10%;
    margin-right: 0%;
    text-decoration: none;
    margin-bottom: 5%;
    padding-top: 20%;
  }

  .gallerySHeader{
    font-family: Hind; 
    font-size: 4.5vw;
    margin-right: 0%;
    margin-left: 34%; 
    text-decoration: none;
    margin-bottom: 5%;
  }


  #recMobile1, #recMobile2, #recMobile3 {
    display: block;
    width: 70%;
    margin-left: 15%;
    margin-right: 0%;
    margin-bottom: 15%;
  }

  #rec4, #rec5, #rec6 {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
  }


  #vid {
    color: #DCEFEB;
    font-family: Mont;
    font-size: 4.8vw;
    text-align: center;
    font-weight: 600;
  }

  .musicSingle>p, .musicAlbum>p {
    display: inline-block;
  }

}


@media (min-width:768px) and (max-width:991px)  {

#nav1 {
  flex-basis: auto;
}  

#nav1>div {
  flex-direction: row;
}
 
#butt2 {
  display: none;
}
  
}